In [16]:
import pandas as pd 
df = pd.read_csv("50_Startups.csv")
# df

In [17]:
# print(df)

In [18]:
weather_data = {
    'day': ['1/1/2024', '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024'],
    'temperature' : [32, 35, 36, 37, 33, 31],
    'Windspeed' : [6, 7, 8, 9, 10 , 11],
    'event' : ['Rainy', 'Sunny', 'Snow', 'Sunny', 'Rainy', 'Sunny']
}
df2 = pd.DataFrame(weather_data)
# df2

In [19]:
df2.shape
rows, columns = df2.shape

In [20]:
df2.head(3)

        day  temperature  Windspeed  event
0  1/1/2024           32          6  Rainy
1  1/2/2024           35          7  Sunny
2  1/3/2024           36          8   Snow

In [21]:
df2.tail(3)

        day  temperature  Windspeed  event
3  1/4/2024           37          9  Sunny
4  1/5/2024           33         10  Rainy
5  1/6/2024           31         11  Sunny

In [22]:
df2[2:5]

        day  temperature  Windspeed  event
2  1/3/2024           36          8   Snow
3  1/4/2024           37          9  Sunny
4  1/5/2024           33         10  Rainy

In [23]:
df2.columns

Index(['day', 'temperature', 'Windspeed', 'event'], dtype='object')

In [24]:
df2.day

0    1/1/2024
1    1/2/2024
2    1/3/2024
3    1/4/2024
4    1/5/2024
5    1/6/2024
Name: day, dtype: object

In [25]:
df2[['event', 'day']]

   event       day
0  Rainy  1/1/2024
1  Sunny  1/2/2024
2   Snow  1/3/2024
3  Sunny  1/4/2024
4  Rainy  1/5/2024
5  Sunny  1/6/2024

In [26]:
print("max temperature")
print(df2['temperature'].max())

max temperature
37

In [27]:
print("Standard Deviation")
print(df2['temperature'].std())

Standard Deviation
2.3664319132398464

In [28]:
df2.describe()

       temperature  Windspeed
count     6.000000   6.000000
mean     34.000000   8.500000
std       2.366432   1.870829
min      31.000000   6.000000
25%      32.250000   7.250000
50%      34.000000   8.500000
75%      35.750000   9.750000
max      37.000000  11.000000

In [29]:
df2[df2['temperature'] >= 34]

        day  temperature  Windspeed  event
1  1/2/2024           35          7  Sunny
2  1/3/2024           36          8   Snow
3  1/4/2024           37          9  Sunny

In [31]:
df2.set_index('day', inplace = true)

RangeIndex(start=0, stop=6, step=1)